<div class="cta-cont">
    <div class="cta-box">
        <div class="left">
            <h5>Join Our Community</h5>
            <p>Are you a learner, student, graduate, or job seeker looking for career opportunities? Look no further, register your information on our platform. We will share relevant job openings, bursaries, learnerships, and internships with you. Our database lets us share your CV with companies seeking interns, graduates, job-seekers and learners for opportunities.</p>
        </div>
        <button (click)="openDoc()">Fill in your details to qualify for future opportunities</button>
    </div>
</div>
