.cta-cont{
    width: 100%;
    margin-top: 50px;
    display: grid;
    place-items: center;

    .cta-box{
        width: 83%;
        display: grid;
        grid-template-columns: 55% 45%;
        background-color: #edfcf2;
        padding: 30px;
        border-radius: 15px;

        .left{
            
            h5{
                font-size: 1.5rem;
                color: #32cd32;
            }
        }

        button{
            background-color: #32cd32;
            color: white;
            width: fit-content;
            height: fit-content;
            border: none;
            padding: 5px 20px;
            border-radius: 16px;
            align-self: center;
            justify-self: flex-end;
            margin-left: 20px;
        }

    }

    @media screen and (max-width: 768px) {
        margin-top: 30px;
        
        .cta-box{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 90%;
            
            button{
                justify-self: flex-start;
                align-self: flex-start;
                width: 100%;
                margin: 0;
            }
        }
    }
}