<div class="new-about-cont">
    <div class="heads" data-aos="fade-right" data-aos-duration="500">
        <h1>About Jobs4Impact Consulting</h1>
        <p></p>
    </div>
    <div data-aos="zoom-in" data-aos-duration="500" class="mains">
        <img src="https://res.cloudinary.com/dus85iiup/image/upload/f_auto,q_auto/v1/jobs4impact/va3nh53v3fbmwnbc4b4f" alt="logo">
        <p>Jobs4Impact Consulting is a training organisation specialising in skills programmes, tailored training, and development. Our goal is to equip individuals, communities and organisations with the tools and knowledge they need to succeed. We offer customised training solutions designed to meet the unique needs of our clients, helping them enhance their skills and achieve their goals. Whether you are looking to improve existing skills or learn something new, we are here to support your growth and development. <span><a href="/about-us">Learn more</a></span></p>
    </div>
</div>