<div class="new-about-cont">
    <div class="heads">
        <h1>About Jobs4Impact Consulting</h1>
        <p>Empowering Growth, Unlocking Potential.</p>
    </div>
    <div class="mains">
        <img src="../../../assets/anout-logo.png" alt="logo">
        <p>Jobs4Impact Consulting empowers individuals and
            organisations with tailored human capital development
            solutions. We aim to foster resilience, unlock potential,
            and drive long-term success. <span><a href="/about-us">Learn more</a></span></p>
    </div>
</div>