<div class="navigation-cont">
    <a href="">
      <img src="https://res.cloudinary.com/dus85iiup/image/upload/f_auto,q_auto/v1/jobs4impact/xtxoohkfmv7ceumiwzwc" alt="logo" />
    </a>
  
    <!-- Hamburger button -->
    <button class="hamburger" (click)="toggleMenu()">
      &#9776; <!-- Hamburger icon -->
    </button>
  
    <!-- Navigation menu -->
    <ul [class.open]="isMenuOpen">
      <a routerLink="/"><li>Home</li></a>
      <a routerLink="/about-us"><li>About Us</li></a>
      <a routerLink="/services"><li>Services</li></a>
      <a routerLink="/information-hub"><li>Information-hub</li></a>
      <a routerLink="/contact"><li>Contact Us</li></a>
    </ul>
  </div>
  