<div class="footer-cont">
    <div class="top">
        <div class="info">
            <img src="../../../assets/logo.PNG" alt="logo">
            <p>Jobs4Impact Consulting empowers individuals and organisations with tailored human capital development solutions. We aim to foster resilience, unlock potential, and drive long-term success</p>
        </div>
        <div class="contact">
            <h1>Quick Links</h1>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about-us">About Us</a></li>
                <li><a routerLink="/services">Services</a></li>
                <li><a routerLink="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="location">
            <h1>Contact Us</h1>
            <ul>
                <li><i class="fa-regular fa-envelope"></i> <span>info&#64;jobs4impact.co.za</span></li>
                <li><i class="fa-solid fa-phone"></i> <span>+27 69 844 3977</span></li>
            </ul>
            <ul class="social-links">
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright & Legal: © 2024 Jobs4Impact Consulting. All rights reserved. | Developed by <a href="https://mediacreativehub.co.za/"> Media Creative Hub</a></p>
    </div>
</div>
