<div class="main-contact-cont">
    <div class="left">
        <div class="hs">
            <p>Want to learn how we can achieve your goals?</p>
            <h1>Get in touch</h1>
        </div>
        <form action="">
            <div class="top-inputs">
                <input type="text" name="name" id="name" placeholder="Name">
                <input type="text" name="phone" id="phone" placeholder="Phone number">
            </div>
            <input type="email" name="email" id="email" placeholder="Email">
            <textarea rows="4" cols="50" placeholder="Message"></textarea>

            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="right">
        <div class="contact-cont">
            <h1>Contact Details</h1>
            <div class="address">
                <!-- <h3>Head office address:</h3>
                <p>
                    201 Hulton Road <br>
                    The Orchards <br>
                    Isle Park Unit 39 <br>
                    Pretoria <br>
                </p>
            </div> -->
            <div class="phone">
                <h3>Tel: </h3>
                <p>078 674 7544</p>
            </div>
            <div class="email">
                <h3>Email: </h3>
                <p>info&#64;jobs4impact.co.za</p>
            </div>
            <ul class="social-links">
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
            <img src="../../../assets/logo.PNG" alt="logo">
        </div>
    </div>
</div>