<div class="main-services-cont">
    <h3>What we do</h3>
    <h6>
        We provide tailored solutions to empower individuals and businesses. Our services include skills development, workplace-readiness training, and corporate advisory to help organizations grow and navigate challenges. Through strategic programmes, we aim to enhance human potential and foster long-term success.
    </h6>

    <div class="categories">
        <!-- Skills Development Section -->
        <div class="cat1">
            <div class="left">
                <img src="../../../assets/dev.jpg" alt="skills development">
            </div>
            <div class="right">
                <h1>SKILLS DEVELOPMENT LEARNING PROGRAMMES</h1>
                <p>Our programmes equip individuals with critical competencies for today's evolving labour market, building a skilled talent pipeline for various industries. We collaborate with clients to curate learning journeys that unlock human potential, from soft skills to technical and leadership development.</p>
                <p>We aim to mitigate South Africa's socioeconomic challenges by implementing learning interventions across different economic sectors, improving the labour force's skills through:</p>
                <ul>
                    <div>
                        <li>Learnerships</li>
                        <li>Internships/Graduate Placement</li>
                        <li>Artisan RPL</li>
                    </div>
                    <div>
                        <li>Candidacy</li>
                        <li>Soft Skills</li>
                        <li>SMMEs, Cooperatives and Rural Development programmes</li>
                    </div>
                </ul>
                <div class="for-who">
                    <div class="indi">
                        <h3>For Individuals</h3>
                        <p>Our programmes offer real workplace experience, skills development, and accredited SAQA qualifications while you earn.</p>
                    </div>
                    <div class="comps">
                        <h3>For Companies</h3>
                        <p>We partner with industry experts to connect businesses with talent. Our skills development programmes help companies attract and retain top talent while improving B-BBEE levels.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Workplace-Readiness Section -->
        <div class="cat2">
            <div class="left">
                <h1>WORKPLACE-READINESS DEVELOPMENT PROGRAMME</h1>
                <p>Our work-readiness programmes cultivate essential soft skills, professional acumen, and job-seeking strategies, empowering individuals to confidently navigate the modern workplace. We focus on crucial skills like communication, teamwork, and problem-solving.</p>
                <p>We collaborate with public and private organizations for hosting, placement, and training delivery.</p>
            </div>
            <div class="right">
                <img src="../../../assets/ready.jpg" alt="workplace-readiness">
            </div>
        </div>

        <!-- Corporate Turnaround and Advisory Section -->
        <div class="cat1 last">
            <div class="left">
                <img src="../../../assets/corporate.jpg" alt="corporate advisory">
            </div>
            <div class="right">
                <h1>CORPORATE TURNAROUND AND ADVISORY SOLUTIONS</h1>
                <p>We offer comprehensive corporate turnaround solutions to help organizations navigate challenges and achieve sustainable growth. Our expert team works closely with clients to diagnose organizational issues, develop tailored interventions, and implement sustainable transformation strategies.</p>
                <p>Our services cater to Government Departments, Municipalities, SOEs, Public Entities, and corporate entities.</p>
                <ul>
                    <li>Audit findings analysis</li>
                    <li>Governance & Performance Turnaround Plans</li>
                    <li>Administration Inception and Closeout Reports</li>
                    <li>Post-Administration Project Monitoring</li>
                    <li>Skills Auditing</li>
                    <li>Training Evaluation</li>
                </ul>
            </div>
        </div>
    </div>
</div>
