<div class="main-services-cont">
    <h3>What we do</h3>
    <h6>
        We provide tailored solutions to empower individuals and businesses. Our services include skills development, workplace-readiness training, career management programmes and corporate advisory to help organisations grow and navigate challenges. Through strategic programmes, we aim to enhance human potential and foster long-term success.
    </h6>

    <div class="categories">
        <!-- Skills Development Section -->
        <div class="cat1">
            <div data-aos="fade-right" data-aos-duration="1500" class="left">
                <img src="../../../assets/dev.jpg" alt="skills development">
            </div>
            <div class="right">
                <h1>SKILLS DEVELOPMENT PROGRAMMES</h1>
                <p>Our programmes equip individuals with critical competencies for today's evolving labour market, building a skilled talent pipeline for various industries. We collaborate with clients to curate learning journeys that unlock human potential, from soft skills to technical and leadership development.</p>
                <p>We aim to mitigate South Africa's socio-economic challenges by implementing learning interventions across different economic sectors, improving the skills and capability of the employed, unemployed and NEET through:</p>
                <ul>
                    <div>
                        <li>Learnerships</li>
                        <li>Internships/Graduate Placement</li>
                        <li>Artisan RPL</li>
                    </div>
                    <div>
                        <li>Candidacy</li>
                        <li>Employability skills</li>
                        <li>Rural Development programmes</li>
                    </div>
                </ul>
                <div class="for-who">
                    <div class="indi">
                        <h3>For Individuals</h3>
                        <p>Our programmes offer knowledge components, real workplace experience, and accredited programmes while you earn.</p>
                    </div>
                    <div class="comps">
                        <h3>For Companies</h3>
                        <p>We partner with industry experts to connect businesses with talent. Our skills development programmes help companies attract and retain top talent while improving B-BBEE levels.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Workplace-Readiness Section -->
        <div class="cat2">
            <div class="left">
                <h1>WORK-READINESS DEVELOPMENT PROGRAMME</h1>
                <p>Our work-readiness programmes cultivate essential soft skills, professional acumen, and job-seeking strategies, empowering individuals to confidently navigate the modern workplace. We offer workshops and resources that support job search strategies, CV writing, interview preparation, and networking skills.</p>
                <p>We focus on crucial skills like communication, teamwork, and problem-solving.</p>
                <p>We collaborate with public and private organisations for hosting, placement, and training delivery.</p>
                <p>Book a session with us. Email: <span><a href="mailto:info@jobs4impact.co.za">info&#64;jobs4impact.co.za</a></span> </p>
            </div>
            <div class="right" data-aos="fade-left" data-aos-duration="2000">
                <img class="mid-img" src="../../../assets/ready.jpg" alt="workplace-readiness">
            </div>
        </div>

        <!-- CAREER MANAGEMENT PROGRAMME Section -->
        <div class="cat1">
            <div class="right">
                <h1>CAREER MANAGEMENT PROGRAMME</h1>
                <p>One of our key offerings is career management training. We understand that navigating a career can be challenging, and our goal is to provide the tools and guidance you need to take charge of your professional journey.</p>
                <p>Our career management training teaches participants how to set career goals, identify strengths, and develop the skills needed to advance in their careers.</p>
                <p>Whether you are just starting your career or looking to make a change, our career management training will empower you to make informed decisions and achieve your professional aspirations. We are committed to supporting you every step of the way! </p>
                <a routerLink="/packages" class="choose-btn">Choose your package</a>
            </div>
            <div class="left" data-aos="fade-left" data-aos-duration="2000">
                <img class="mid-img" src="../../../assets/cmi.png" alt="workplace-readiness">
            </div>
        </div>

        <!-- Corporate Turnaround and Advisory Section -->
        <div class="cat1 last">
            <div class="left" data-aos="fade-right" data-aos-duration="2000">
                <img src="../../../assets/corporate.jpg" alt="corporate advisory">
            </div>
            <div class="right">
                <h1>CORPORATE TURNAROUND AND ADVISORY SOLUTIONS</h1>
                <p>We offer comprehensive corporate turnaround solutions to help organisations navigate challenges and achieve sustainable growth. Our expert team works closely with clients to diagnose organisational issues, develop tailored interventions, and implement sustainable transformation strategies.</p>
                <p>Our services cater for Government Departments, Municipalities, SOEs, Public Entities, and corporate entities.</p>
                <ul>
                    <li>Workplace Skills Plan (WSP) & Annual Training Report (ATR)</li>
                    <li>Audit findings analysis</li>
                    <li>Administration Inception and Closeout Reports</li>
                    <li>Post-Administration Project Monitoring</li>
                    <li>Skills Auditing</li>
                </ul>
            </div>
        </div>
    </div>
</div>
