<div id="about-us" class="about-cont">
    <div class="left">
        <img src="../../../assets/about-pic.png" alt="">
    </div>
    <div class="right">
        <div class="about-stamp">
            <div class="circle"></div>
            <div class="p">About Us</div>
            <div class="circle"></div>
        </div>
        <h1>Empowering Growth, Unlocking Potential</h1>
        <p>Jobs4Impact Consulting delivers impactful human capital development solutions. We
            empower individuals and organizations through transformative learning and
            development programmes. Our comprehensive services are tailored to meetdiverse
            client needs.</p>
        <div class="points">
            <div class="point">
                <img src="../../../assets/Check Mark.png" alt="">
                <p>Innovation-Driven</p>
            </div>
            <div class="point">
                <img src="../../../assets/Check Mark.png" alt="">
                <p>Strategic Partnerships</p>
            </div>
            <div class="point">
                <img src="../../../assets/Check Mark.png" alt="">
                <p>Client-Centered</p>
            </div>
            <div class="point">
                <img src="../../../assets/Check Mark.png" alt="">
                <p>Impact Focus</p>
            </div>
        </div>
        <h4>Our Commitment</h4>
        <p>We are dedicated to delivering customer-centric, results-driven services that not only help individuals upskill but also support businesses in overcoming challenges and achieving sustainable growth. Let us partner with you to transform challenges into opportunities for long-term success</p>
    </div>
</div>