.info-hub-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info-hub-info{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .info-hd{
            align-self: center;
            width: fit-content;

            h1{
                color: #32cd32;
            }

            p{
                text-align: center;
            }
        }

        p{
            text-align: left;
        }

        .speak{
            background-color: #efcc0a;
            color: white;
            width: fit-content;
            height: fit-content;
            border: none;
            padding: 5px 20px;
            border-radius: 16px;
            align-self: center;
            justify-self: flex-end;
            margin-left: 20px;

            span{

                a{
                    color: white;
                }
            }
        }
    }
}
