<div class="info-hub-container">
    <div class="info-hub-info">
        <div class="info-hd">
            <h1>Information Hub</h1>
            <p>Welcome to our Information Hub! </p>
        </div>
        <p>As a dedicated training organisation, we aim to support your journey toward a successful career. Our hub serves as a central resource for everything you need to know about employability skills, internships, leanerships, bursaries, job opportunities, and career management.</p>
        <p>In today’s job market, having the right skills is crucial. That’s why we offer various skills programmes designed to equip you with the essential abilities employers are looking for.</p>
        <p>
            We also provide information about internships to help you gain valuable experience and make connections in your chosen field. If you're looking for financial support, our hub shares details about available bursaries to help you continue your education without financial stress.</p>
        <p>Moreover, our team is here to assist you with career management, helping you plan your career path and explore various job opportunities. Whether you’re just starting your journey or looking to advance in your career, our Information Hub is here to guide you every step of the way. Explore, learn, and take the next step toward your future with us! 
        </p>
    </div>
</div>