<div class="services-overview-cont">
    <div class="titles">
        <div class="services-stamp">
            <div class="circle"></div>
            <div class="p">What We Offer</div>
            <div class="circle"></div>
        </div>
        <h1>Some Of What We Offer</h1>
    </div>
    <div class="cards-cont">
        <div class="cards">
            <div class="card"> 
                <img src="../../../assets/Cloud Development.png" alt="">
                <h6>Skills Development Programs</h6>
                <p>Build essential skills for a competitive workforce. Our tailored learning programs empower individuals with hands-on experience and accredited qualifications.</p>
                <a href=""><img src="../../../assets/Group 6.png" alt=""></a>
            </div>
            <div class="card mid">
                <img src="../../../assets/Skyscrapers.png" alt="">
                <h6>Workplace Readiness Training</h6>
                <p>Prepare for success with professional acumen and soft skills training. Our programs ensure you're ready to thrive in any workplace environment.</p>
                <a href=""><img src="../../../assets/Group 6.png" alt=""></a>
            </div>
            <div class="card">
                <img src="../../../assets/Embassy.png" alt="">
                <h6>Corporate Turnaround Solutions</h6>
                <p>Revitalize your organization with expert-driven strategies. We provide customized solutions to help businesses navigate challenges and achieve sustainable growth.</p>
                <a href=""><img src="../../../assets/Group 6.png" alt=""></a>
            </div>
        </div>
        <button routerLink="/services">See more <img src="../../../assets/Right.png" alt=""></button>
    </div>
</div>