<div class="services-overview-cont">
    <div class="titles">
        <div class="services-stamp">
            <div class="circle"></div>
            <div class="p">What We Offer</div>
            <div class="circle"></div>
        </div>
        <h1>Some Of What We Offer</h1>
    </div>
    <div class="cards-cont">
        <div class="cards">
            <div data-aos="flip-left" data-aos-duration="2000" class="card"> 
                <img src="../../../assets/Cloud Development.png" alt="">
                <h6>Skills Development Programmes</h6>
                <p>Build essential skills for a competitive workforce. Our tailored learning programmes give individuals practical experience and valuable knowledge.</p>
                <a routerLink="/services"><img src="../../../assets/Group 6.png" alt=""></a>
            </div>
            <div data-aos="flip-up" data-aos-duration="2000" class="card mid">
                <img src="../../../assets/Skyscrapers.png" alt="">
                <h6>Work-Readiness Development Programme</h6>
                <p>Prepare for success with professional acumen and soft skills training. Our work-readiness programme (employability skills) ensures you're ready to thrive in any workplace environment.</p>
                <a routerLink="/services"><img src="../../../assets/Group 6.png" alt=""></a>
            </div>
            <div data-aos="flip-up" data-aos-duration="2000" class="card mid">
                <img src="../../../assets/career-m.png" alt="">
                <h6>Career Management Programme</h6>
                <p>Our career management training teaches participants how to set career goals, identify strengths, and develop the skills needed to advance in their careers.</p>
                <a routerLink="/services"><img src="../../../assets/Group 6.png" alt=""></a>
            </div>
            <div data-aos="flip-right" data-aos-duration="2000" class="card">
                <img src="../../../assets/Embassy.png" alt="">
                <h6>Corporate Turnaround Solutions</h6>
                <p>Revitalise your organisation with expert-driven strategies. Our consultants will assist with personalised solutions to help your organisation overcome challenges and grow in a sustainable way. </p>
                <a routerLink="/services"><img src="../../../assets/Group 6.png" alt=""></a>
            </div>
        </div>
        <button routerLink="/services">See more <img src="../../../assets/Right.png" alt=""></button>
    </div>
</div>