<div class="about-main-cont">
    <div class="we-do">
        <div class="box">
            <h5>Reach</h5>
            <p clsss="p-1" style="align-self: flex-start;" >Accessibility for all.</p>
        </div>
        <div class="box">
            <h5>Impact</h5>
            <p>Empower change, one connection at a time.</p>
        </div>
        <div class="box">
            <h5>Upskill</h5>
            <p>Enhance skills today for success tomorrow.</p>
        </div>
    </div>
    <div class="who-are-we">
        <h3>Who are we?</h3>
        <p>
            Jobs4Impact Consulting is a professional organisation of impactful human capital
            development solutions. Our mission is to empower individuals and organisations to reach
            new heights of success through transformative learning and development programmes. We
            offer a comprehensive suite of services tailored to meet the diverse needs of our clients.

            Our business model focuses on high-impact solutions through innovation, collaboration, and
            strategic partnerships. We combine industry-leading expertise with deep client
            understanding to unlock human potential. This approach enhances organizational
            performance and contributes to rural economic development.
        </p>
    </div>

    <div class="our-c">
        <h3>Our Commitment</h3>
        <p>
            We are dedicated to delivering customer-centric, results-driven services that not only help
            individuals upskill but also support businesses in overcoming challenges and achieving
            sustainable growth. Let us partner with you to transform challenges into opportunities for
            long-term success
        </p>
        <div class="points">
            <div class="point">
                <img src="../../../assets/Check Mark.png" alt="">
                <p>Innovation-Driven</p>
            </div>
            <div class="point">
                <img src="../../../assets/Check Mark.png" alt="">
                <p>Strategic Partnerships</p>
            </div>
            <div class="point">
                <img src="../../../assets/Check Mark.png" alt="">
                <p>Client-Centered</p>
            </div>
            <div class="point">
                <img src="../../../assets/Check Mark.png" alt="">
                <p>Impact Focus</p>
            </div>
        </div>
    </div>
</div>