<div class="about-main-cont">
    <div class="we-do">
        <div class="box">
            <h5>Reach</h5>
            <p clsss="p-1" style="align-self: flex-start;" >Accessibility for all.</p>
        </div>
        <div class="box">
            <h5>Impact</h5>
            <p>Empower change, one connection at a time.</p>
        </div>
        <div class="box">
            <h5>Upskill</h5>
            <p>Enhance skills today for success tomorrow.</p>
        </div>
    </div>
    <div class="who-are-we">
        <h3>Who are we?</h3>
        <p>
            ﻿
            Jobs4Impact Consulting is an organisation dedicated to empowering individuals and organisations through skills development programmes, tailored training interventions, corporate turnaround solutions and a wide range of employability and career management solutions. Our mission is to empower individuals, communities and organisations to reach new heights of success through transformative learning and development programmes. Through these trainings, we equip our clients with the skills and knowledge they need to navigate their careers effectively and make informed decisions about their future.  
        </p>
        <p>
            We provide a wide range of services designed to meet the different needs of our clients. We are an organisation that believes in the power of collaboration and partnerships. By partnering with others, we can share ideas, solve problems, and create better solutions. We are committed to building strong relationships with our team members, clients, and the community. Together, we can make a bigger impact and reach our shared goals by mixing our strong industry knowledge with a deep understanding of our clients to help people reach their full potential. This approach improves how organisations perform and supports economic development in rural areas.


        </p>

       
    </div>

    <div class="our-c" data-aos="zoom-in-up" data-aos-duration="1000">
        <h3>Our Commitment</h3>
        <p>
            We focus on providing services that meet our customer's needs and deliver results. We help people improve their skills and support businesses in overcoming challenges and maintaining competitive advantage. Let's work together to turn challenges into opportunities for long-term success. 
        </p>
        <h3>Values</h3>
        <div class="points">
            <div class="point">
                <img src="https://res.cloudinary.com/dus85iiup/image/upload/f_auto,q_auto/v1/jobs4impact/wtliqyiv3idam0zoxld6" alt="">
                <p>Collaborations</p>
            </div>
            <div class="point">
                <img src="https://res.cloudinary.com/dus85iiup/image/upload/f_auto,q_auto/v1/jobs4impact/wtliqyiv3idam0zoxld6" alt="">
                <p>Empowerment</p>
            </div>
            <div class="point">
                <img src="https://res.cloudinary.com/dus85iiup/image/upload/f_auto,q_auto/v1/jobs4impact/wtliqyiv3idam0zoxld6" alt="">
                <p>Continuous improvement</p>
            </div>
            <div class="point">
                <img src="https://res.cloudinary.com/dus85iiup/image/upload/f_auto,q_auto/v1/jobs4impact/wtliqyiv3idam0zoxld6" alt="">
                <p>Support</p>
            </div>
            <div class="point">
                <img src="https://res.cloudinary.com/dus85iiup/image/upload/f_auto,q_auto/v1/jobs4impact/wtliqyiv3idam0zoxld6" alt="">
                <p>Inclusivity</p>
            </div>
            <div class="point">
                <img src="https://res.cloudinary.com/dus85iiup/image/upload/f_auto,q_auto/v1/jobs4impact/wtliqyiv3idam0zoxld6" alt="">
                <p>Integrity</p>
            </div>
        </div>
    </div>
</div>